.library {
    position: fixed;
    top: 0;
    left: 0;
    width: 25rem;
    height: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 50px rgb(207, 207, 207);
    overflow: scroll;
    transform: translateX(-100%);
    transition: all 0.5 ease;
    opacity: 0;
    h2 {
        padding: 2rem;
        font-weight: bold;
        font-size: 2.2rem;
    }
}

.library-song {
    display: flex;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    cursor: pointer;
    transition: background 0.5s ease;
    img {
        width: 40%;
    }
    &:hover {
        background-color: rgba(189, 206, 253, 0.966);
    }
}

.song-description {
    padding-left: 1rem;
    h3 {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1rem;
    }
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 100%;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
}

.selected {
    background-color: rgba(189, 206, 253, 0.603);
}

.active-library {
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .library {
        width: 100%;
    }
}