nav {
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    button {
        background: transparent;
        border: none;
        cursor: pointer;
        border: 2px solid #4d4d4d;
        padding: 0.5rem;
        transition: all 0.3s ease;
        &:hover {
            background-color: #4d4d4d;
            color: white;
            ;
        }
    }
}

@media screen and (max-width: 768px) {
    nav {
        button {
            z-index: 5;
        }
    }
}