.player {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.time-control {
    display: flex;
    width: 50%;
    input {
        width: 100%;
        -webkit-appearance: none;
        background: transparent;
        cursor: pointer;
        &:focus {
            outline: none;
        }
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 1rem;
            width: 1rem;
        }
        &::-moz-range-thumb {
            -webkit-appearance: none;
            height: 1rem;
            width: 1rem;
        }
    }
    p {
        padding: 1rem;
    }
}

.track {
    margin: 1rem;
    position: relative;
    background-color: rgb(121, 127, 204);
    height: 1rem;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
}

.animate-track {
    background-color: rgb(189, 189, 189);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(0%);
    pointer-events: none;
}

.play-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25rem;
    .skip-back,
    .skip-forward,
    .play,
    .pause {
        cursor: pointer;
        font-size: 40px;
        margin: 5px;
    }
}

@media screen and (max-width: 768px) {
    .time-control {
        width: 90%;
    }
    .play-control {
        width: 60%;
    }
}